/* line 8, ../sass/main.scss */
* {
  box-sizing: border-box;
  outline: none;
}

/* line 13, ../sass/main.scss */
hr {
  border: 0;
  height: 1px;
  border-top: 1px solid #99ccff;
}

/* line 20, ../sass/main.scss */
.wrapper {
  background: #e5f7ff;
  width: 1100px;
  margin: 0 auto;
  padding: 3em;
}

/* PROFILE PICTURE/SETTINGS ==============================*/
/* line 29, ../sass/main.scss */
#profile {
  position: absolute;
  right: 0;
  top: -30px;
}

/* line 35, ../sass/main.scss */
img#profile-pic {
  display: block;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #0066cc;
  width: 40%;
}
/* line 41, ../sass/main.scss */
img#profile-pic a:active {
  display: none;
}

/* line 46, ../sass/main.scss */
ul#dropdown {
  display: none;
  background: #f2f2f2;
  padding: 0;
  width: 80%;
  margin: 0;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #d9d9d9;
}
/* line 55, ../sass/main.scss */
ul#dropdown li {
  list-style: none;
}
/* line 57, ../sass/main.scss */
ul#dropdown li a {
  color: #404040;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 0px;
}
/* line 65, ../sass/main.scss */
ul#dropdown li a:hover {
  color: #d9d9d9;
  background: #404040;
}

/* HOME PAGE DASHBOARD ===================================*/
/* line 74, ../sass/main.scss */
div.dashboard {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  /*background: red;*/
  text-align: center;
  vertical-align: top;
  font-size: 25px;
}

/* LOGO ===================================*/
/* line 87, ../sass/main.scss */
.logo {
  width: 15%;
}

/* line 92, ../sass/main.scss */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* TABLE ===================================*/
/* line 98, ../sass/main.scss */
th {
  text-align: left;
  padding: 5px;
  background: #cce6ff;
  border: 1px solid #007a99;
  color: #404040;
}

/* line 106, ../sass/main.scss */
td {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #007a99;
  cursor: pointer;
}

/* line 115, ../sass/main.scss */
.td-action {
  text-align: center;
}

/* line 119, ../sass/main.scss */
tr:nth-child(odd) {
  background: #f5faff;
}

/* line 124, ../sass/main.scss */
tr:hover {
  background: #e6f2ff;
}

/* line 129, ../sass/main.scss */
table {
  margin-top: 40px;
  border-collapse: collapse;
}

/* BUTTON ===================================*/
/* line 136, ../sass/main.scss */
.button {
  outline: none;
  color: white;
  background: #0066cc;
  border: 1px solid #00264d;
  cursor: pointer;
  text-decoration: none;
}

/* line 145, ../sass/main.scss */
.button:hover {
  background: #004c99;
}

/* line 149, ../sass/main.scss */
small {
  color: #666666;
}

/* line 153, ../sass/main.scss */
a#new-record {
  float: right;
  font-size: 14px;
}

/* STAGE HEAD ===================================*/
/* line 159, ../sass/main.scss */
.stage-head {
  border-left: 3px solid #0066cc;
  padding-left: 5px;
  background-image: url("/img/arrow.png");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: right top;
  width: 102px;
  height: 30px;
  margin-bottom: 10px;
}

/* STAGE 1 FORM ===================================*/
/* line 174, ../sass/main.scss */
.req {
  border: 1px solid #ffb3b3;
}

/* line 178, ../sass/main.scss */
form#stage-1 input {
  margin-bottom: 10px;
  display: block;
}
/* line 181, ../sass/main.scss */
form#stage-1 input label {
  font-size: 15px;
  cursor: pointer;
}

/* line 187, ../sass/main.scss */
form#stage-1 input[type='checkbox'] {
  display: inline-block;
}

/* line 191, ../sass/main.scss */
form#stage-1 select {
  margin-bottom: 10px;
}

/* line 195, ../sass/main.scss */
form#stage-1 > textarea, #stage-3 textarea {
  display: block;
  margin-bottom: 10px;
  height: 100px;
  width: 300px;
}

/* line 202, ../sass/main.scss */
form#stage-1 span, #stage-2 span, #stage-3 span, #stage-4 span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px;
}

/* line 208, ../sass/main.scss */
form#stage-1 input[type='submit'], #stage-2 input[type='submit'],
form#stage-3 input[type='submit'], #stage-4 input[type='submit'] {
  display: inline-block;
  margin-right: 30px;
}

/* line 214, ../sass/main.scss */
form#stage-1 > a {
  /*text-decoration: none;*/
  font-size: 15px;
}

/* MESSAGES ===================================*/
/* line 231, ../sass/main.scss */
.error {
  background: #ffebcc;
  border: 2px solid #ffd633;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  width: 30%;
}

/* line 235, ../sass/main.scss */
.success {
  background: #99ff99;
  border: 2px solid #00e600;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  width: 30%;
}

/* line 239, ../sass/main.scss */
.info {
  background: #e6f2ff;
  border: 2px solid #b3d9ff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  width: 30%;
  color: #70b8ff;
}

/* line 244, ../sass/main.scss */
.tips {
  right: 400px;
  width: 400px;
  overflow: hidden;
}
/* line 248, ../sass/main.scss */
.tips img {
  width: 25%;
  float: right;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* LOGIN FORM ===================================*/
/* line 256, ../sass/main.scss */
.login-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e5f7ff;
  width: 500px;
  height: 250px;
  margin: auto;
  overflow: auto;
  padding: 10px;
  padding-top: 40px;
}
/* line 269, ../sass/main.scss */
.login-container img {
  width: 30%;
  position: absolute;
}
/* line 273, ../sass/main.scss */
.login-container h4 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* line 278, ../sass/main.scss */
.login-container form {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 284, ../sass/main.scss */
.login-container input {
  outline: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid #66b3ff;
}

/* SEARCH BOX ===================================*/
/* line 295, ../sass/main.scss */
.search-wrapper {
  width: 260px;
}
/* line 296, ../sass/main.scss */
.search-wrapper label {
  display: inline-block;
  width: 20%;
}
/* line 301, ../sass/main.scss */
.search-wrapper div:nth-child(3) {
  margin-top: 4px;
  text-align: right;
  font-size: 11px;
}
/* line 305, ../sass/main.scss */
.search-wrapper div:nth-child(3) a {
  color: #404040;
}
/* line 309, ../sass/main.scss */
.search-wrapper .search-box {
  display: inline-block;
  width: 75%;
  overflow: hidden;
  border: 1px solid #0066cc;
  padding: 3px;
  position: relative;
  top: 8px;
  right: -9px;
}
/* line 318, ../sass/main.scss */
.search-wrapper .search-box input {
  outline: none;
  border: 0px;
}
/* line 322, ../sass/main.scss */
.search-wrapper .search-box img {
  position: absolute;
  width: 20px;
  right: 2px;
  top: 2px;
}
