/* line 8, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 13, ../sass/main.scss */
hr {
  border: 0;
  height: 1px;
  border-top: 1px solid #99ccff;
}

/* line 19, ../sass/main.scss */
.wrapper {
  background: #e5f7ff;
  width: 1100px;
  margin: 0 auto;
  padding: 3em;
}

/* PROFILE PICTURE/SETTINGS ==============================*/
/* line 28, ../sass/main.scss */
#profile {
  position: absolute;
  right: 0;
  top: -30px;
}

/* line 34, ../sass/main.scss */
img#profile-pic {
  display: block;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #0066cc;
  width: 40%;
}
/* line 40, ../sass/main.scss */
img#profile-pic a:active {
  display: none;
}

/* line 45, ../sass/main.scss */
ul#dropdown {
  display: none;
  background: #f2f2f2;
  padding: 0;
  width: 80%;
  margin: 0;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #d9d9d9;
}
/* line 54, ../sass/main.scss */
ul#dropdown li {
  list-style: none;
}
/* line 56, ../sass/main.scss */
ul#dropdown li a {
  color: #404040;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 0px;
}
/* line 64, ../sass/main.scss */
ul#dropdown li a:hover {
  color: #d9d9d9;
  background: #404040;
}

/* HOME PAGE DASHBOARD ===================================*/
/* line 73, ../sass/main.scss */
div.dashboard {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  /*background: red;*/
  text-align: center;
  vertical-align: top;
  font-size: 25px;
}

/* LOGO ===================================*/
/* line 86, ../sass/main.scss */
.logo {
  width: 15%;
}

/* line 91, ../sass/main.scss */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* TABLE ===================================*/
/* line 97, ../sass/main.scss */
th {
  text-align: left;
  padding: 5px;
  border: 1px solid #d9d9d9;
  color: #404040;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
  font-size: 75%;
  cursor: pointer;
}

/* line 110, ../sass/main.scss */
td {
  padding: 2px 0;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 75%;
  color: #404040;
  cursor: pointer;
}

/* line 120, ../sass/main.scss */
.td-action {
  text-align: center;
}

/* line 124, ../sass/main.scss */
tr:nth-child(odd) {
  background: #f5faff;
}

/* line 129, ../sass/main.scss */
tbody tr:hover {
  background: #cce6ff;
}

/* line 133, ../sass/main.scss */
table {
  margin-top: 10px;
  border-collapse: collapse;
}

/* BUTTON ===================================*/
/* line 140, ../sass/main.scss */
.button {
  outline: none;
  color: white;
  background: #0066cc;
  border: 1px solid #00264d;
  cursor: pointer;
  text-decoration: none;
}

/* line 149, ../sass/main.scss */
.button:hover {
  background: #004c99;
}

/* line 153, ../sass/main.scss */
small {
  color: #666666;
}

/* line 157, ../sass/main.scss */
a#new-record {
  float: right;
  font-size: 14px;
}

/* STAGE HEAD ===================================*/
/* line 163, ../sass/main.scss */
.stage-head {
  border-left: 3px solid #0066cc;
  padding-left: 5px;
  background-image: url("/img/hash.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right top;
  width: 90px;
  height: 30px;
  margin-bottom: 10px;
}

/* STAGE 1 FORM ===================================*/
/* line 178, ../sass/main.scss */
.req {
  border: 1px solid #ffb3b3;
}

/* line 182, ../sass/main.scss */
form#stage-1 input {
  margin-bottom: 10px;
  display: block;
}
/* line 185, ../sass/main.scss */
form#stage-1 input label {
  font-size: 15px;
  cursor: pointer;
}

/* line 191, ../sass/main.scss */
form#stage-1 input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 195, ../sass/main.scss */
form#stage-1 select {
  margin-bottom: 10px;
}

/* line 199, ../sass/main.scss */
form#stage-1 > textarea, #stage-3 textarea {
  display: block;
  margin-bottom: 10px;
  height: 100px;
  width: 300px;
}

/* line 206, ../sass/main.scss */
form#stage-1 span, #stage-2 span, #stage-3 span, #stage-4 span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 10px;
  font-size: 15px;
}

/* line 212, ../sass/main.scss */
form#stage-1 input[type='submit'], #stage-2 input[type='submit'],
form#stage-3 input[type='submit'], #stage-4 input[type='submit'] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 30px;
}

/* line 218, ../sass/main.scss */
form#stage-1 > a {
  /*text-decoration: none;*/
  font-size: 15px;
}

/* MESSAGES ===================================*/
/* line 235, ../sass/main.scss */
.error {
  background: #ffebcc;
  border: 2px solid #ffd633;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  width: 30%;
}

/* line 239, ../sass/main.scss */
.success {
  background: #99ff99;
  border: 2px solid #00e600;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  width: 30%;
}

/* line 243, ../sass/main.scss */
.tips {
  background: #e6f2ff;
  border: 2px solid #80bfff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  width: 30%;
  color: #66b3ff;
}
/* line 246, ../sass/main.scss */
.tips img {
  width: 40%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: right;
}

/* LOGIN FORM ===================================*/
/* line 254, ../sass/main.scss */
.login-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e5f7ff;
  width: 500px;
  height: 250px;
  margin: auto;
  overflow: auto;
  padding: 10px;
  padding-top: 40px;
}
/* line 267, ../sass/main.scss */
.login-container img {
  width: 30%;
  position: absolute;
}
/* line 271, ../sass/main.scss */
.login-container h4 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* line 276, ../sass/main.scss */
.login-container form {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 282, ../sass/main.scss */
.login-container input {
  outline: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid #66b3ff;
}

/* SEARCH BOX ===================================*/
/* line 293, ../sass/main.scss */
.search-wrapper {
  width: 260px;
}
/* line 294, ../sass/main.scss */
.search-wrapper label {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 20%;
}
/* line 299, ../sass/main.scss */
.search-wrapper div:nth-child(3) {
  position: relative;
  margin-top: 4px;
  text-align: right;
  font-size: 11px;
}
/* line 304, ../sass/main.scss */
.search-wrapper div:nth-child(3) button {
  margin-top: 2px;
  color: #404040;
  text-decoration: underline;
}
/* line 309, ../sass/main.scss */
.search-wrapper div:nth-child(3) .assm {
  display: none;
  position: absolute;
  z-index: 2;
  padding: 20px 15px;
  text-align: left;
  background: red;
}
/* line 316, ../sass/main.scss */
.search-wrapper div:nth-child(3) .assm h3, .search-wrapper div:nth-child(3) .assm h4 {
  margin: 0;
  text-decoration: underline;
}
/* line 322, ../sass/main.scss */
.search-wrapper .search-box {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 75%;
  overflow: hidden;
  border: 1px solid #0066cc;
  padding: 3px;
  position: relative;
  top: 8px;
  right: -9px;
}
/* line 331, ../sass/main.scss */
.search-wrapper .search-box input {
  outline: none;
  border: 0px;
}
/* line 335, ../sass/main.scss */
.search-wrapper .search-box img {
  position: absolute;
  width: 20px;
  right: 2px;
  top: 2px;
}
