/* line 7, ../sass/main.scss */
* {
  box-sizing: border-box;
  outline: none;
}

/* line 12, ../sass/main.scss */
.wrapper {
  background: #e5f7ff;
  width: 1100px;
  margin: 0 auto;
  padding: 3em;
}

/* PROFILE PICTURE/SETTINGS ==============================*/
/* line 21, ../sass/main.scss */
#profile {
  position: absolute;
  right: 0;
  top: -30px;
}

/* line 27, ../sass/main.scss */
img#profile-pic {
  display: block;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #0066cc;
  width: 40%;
}
/* line 33, ../sass/main.scss */
img#profile-pic a:active {
  display: none;
}

/* line 38, ../sass/main.scss */
ul#dropdown {
  display: none;
  background: #f2f2f2;
  padding: 0;
  width: 80%;
  margin: 0;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #d9d9d9;
}
/* line 47, ../sass/main.scss */
ul#dropdown li {
  list-style: none;
}
/* line 49, ../sass/main.scss */
ul#dropdown li a {
  color: #404040;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 0px;
}
/* line 57, ../sass/main.scss */
ul#dropdown li a:hover {
  color: #d9d9d9;
  background: #404040;
}

/* HOME PAGE DASHBOARD ===================================*/
/* line 66, ../sass/main.scss */
div.dashboard {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  /*background: red;*/
  text-align: center;
  vertical-align: top;
  font-size: 25px;
}

/* LOGO ===================================*/
/* line 79, ../sass/main.scss */
.logo {
  width: 15%;
}

/* line 84, ../sass/main.scss */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* TABLE ===================================*/
/* line 90, ../sass/main.scss */
th {
  text-align: left;
  padding: 5px;
  background: #cce6ff;
  border: 1px solid #007a99;
  color: #404040;
}

/* line 98, ../sass/main.scss */
td {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 1px solid #007a99;
  cursor: pointer;
}

/* line 107, ../sass/main.scss */
.td-action {
  text-align: center;
}

/* line 111, ../sass/main.scss */
tr:nth-child(odd) {
  background: #f5faff;
}

/* line 116, ../sass/main.scss */
tr:hover {
  background: #e6f2ff;
}

/* line 121, ../sass/main.scss */
table {
  margin-top: 40px;
  border-collapse: collapse;
}

/* BUTTON ===================================*/
/* line 128, ../sass/main.scss */
.button {
  outline: none;
  color: white;
  background: #0066cc;
  border: 1px solid #00264d;
  cursor: pointer;
  text-decoration: none;
}

/* line 137, ../sass/main.scss */
.button:hover {
  background: #004c99;
}

/* line 141, ../sass/main.scss */
small {
  color: #666666;
}

/* line 145, ../sass/main.scss */
a#new-record {
  float: right;
  font-size: 14px;
}

/* STAGE 1 FORM ===================================*/
/* line 152, ../sass/main.scss */
.req {
  border: 1px solid #ffb3b3;
}

/* line 156, ../sass/main.scss */
form#stage-1 input {
  margin-bottom: 10px;
  display: block;
}
/* line 159, ../sass/main.scss */
form#stage-1 input label {
  font-size: 15px;
  cursor: pointer;
}

/* line 165, ../sass/main.scss */
form#stage-1 input[type='checkbox'] {
  display: inline-block;
}

/* line 169, ../sass/main.scss */
form#stage-1 select {
  margin-bottom: 10px;
}

/* line 173, ../sass/main.scss */
form#stage-1 > textarea {
  display: block;
  margin-bottom: 10px;
  height: 100px;
  width: 300px;
}

/* line 180, ../sass/main.scss */
form#stage-1 span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px;
}

/* line 186, ../sass/main.scss */
form#stage-1 input[type='submit'] {
  display: inline-block;
  margin-right: 30px;
}

/* line 191, ../sass/main.scss */
form#stage-1 > a {
  /*text-decoration: none;*/
  font-size: 15px;
}

/* MESSAGES ===================================*/
/* line 198, ../sass/main.scss */
.error {
  background: #ffebcc;
  border: 2px solid #ffd633;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 30px;
  font-size: 15px;
  width: 30%;
}

/* line 208, ../sass/main.scss */
.success {
  background: #99ff99;
  border: 2px solid #00e600;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  width: 30%;
}

/* LOGIN FORM ===================================*/
/* line 219, ../sass/main.scss */
.login-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e5f7ff;
  width: 500px;
  height: 250px;
  margin: auto;
  overflow: auto;
  padding: 10px;
  padding-top: 40px;
}
/* line 232, ../sass/main.scss */
.login-container img {
  width: 30%;
  position: absolute;
}
/* line 236, ../sass/main.scss */
.login-container h4 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* line 241, ../sass/main.scss */
.login-container form {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 247, ../sass/main.scss */
.login-container input {
  outline: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid #66b3ff;
}
